<nav class="navbar navbar-expand-lg navbar justify-content-center nav">
    <div class="container-fluid p-0">
        <!-- <div style="max-width: 211px;"> -->
            <div class="nokodeLogoContainer">
                <a class="navbar-brand" href="#">
                <img src="../../../../assets/Nokodes_logo.png" alt="">
                </a>  
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <!-- <div> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="width: 58%;">
        <form class="d-flex " style = "height:50px ; width: 89%;">
            
          <input class="form-control me-2 h-100" type="search" placeholder="Search" aria-label="Search">
        </form>
        </div>
        <ul class="navbar-nav justify-content-between me-auto mb-2 mb-lg-0" style="width:22%;">
            <li class="nav-item">
             <div class="btn btn-primary askQuestionButton">Ask Question</div>
            </li>
            <li class="nav-item">
             <div class="profileImageCOntainer">
                <img src="../../../../assets/1.png"class="img-fluid" alt="">
             </div>
            </li>
          </ul>
      </div>
   
  </nav>